{
    "swagger": "2.0",
    "info": {
        "description": "在线聊天系统",
        "title": "chat",
        "contact": {},
        "license": {
            "name": "raja,chong"
        },
        "version": "1.0"
    },
    "host": "chat.humraja.xyz",
    "basePath": "/api",
    "paths": {
        "/api/account/create": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "创建账号",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "创建账号信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.CreateAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2008:身份验证失败 2012:账号数量超过限制 2011:账号名已经存在 2007:身份不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.CreateAccount"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/delete": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "删除账户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "账号ID",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DeleteAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/account/info": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "获取账户信息",
                "parameters": [
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "账号ID",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountByID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/infos/name": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "通过昵称查找账户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string",
                        "description": "搜索名称",
                        "name": "name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountsByName"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/infos/user": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "获取用户的所有账户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1003:系统错误 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountsByUserID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/token": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "获取账号令牌",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "账号ID",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误  1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountToken"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/update": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "更新账户信息",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "账号信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/accept": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "被申请者同意好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "需要同意的申请",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.AcceptApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 3002:申请不存在 3004:重复操作申请",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/create": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "创建好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "申请信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.CreateApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 3001:申请已经存在 3003:申请不合法 4001:关系已经存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/delete": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "申请者删除好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "需要删除的申请",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DeleteApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 3002:申请不存在 3003:申请不合法",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "账户查看和自身相关的好友申请(不论是申请者还是被申请者)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1003:系统错误 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.ListApplications"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/application/refuse": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "被申请者拒绝好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "需要拒绝的申请",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.AcceptApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 3002:申请不存在 3004:重复操作申请",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/email/exist": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email"
                ],
                "summary": "是否已经注册过该email",
                "parameters": [
                    {
                        "maxLength": 50,
                        "type": "string",
                        "description": "邮箱",
                        "name": "email",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.ExistEmail"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/email/send": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email"
                ],
                "summary": "发送邮件",
                "parameters": [
                    {
                        "description": "email",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.SendEmail"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2006:邮箱已经注册 2003:邮件发送频繁，请稍后再试",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/user/delete": {
            "delete": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "删除当前用户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/user/login": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "用户登陆",
                "parameters": [
                    {
                        "description": "用户登陆信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.Login"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.Login"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/user/register": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "用户注册",
                "parameters": [
                    {
                        "description": "用户注册信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.Register"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2004:邮箱验证码校验失败 2006:邮箱已经注册 ",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.Register"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/user/update/email": {
            "put": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "更新用户邮箱",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "新邮箱和验证码",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateUserEmail"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在 2004:邮箱验证码校验失败 2005:邮箱相同 2006:邮箱已经注册 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/user/update/pwd": {
            "put": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "更新用户密码",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "旧密码和新密码",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateUserPassword"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在 2004:邮箱验证码校验失败 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "common.State": {
            "type": "object",
            "properties": {
                "data": {
                    "description": "失败时返回空"
                },
                "status_code": {
                    "description": "状态码，0-成功，其他值-失败",
                    "type": "integer"
                },
                "status_msg": {
                    "description": "返回状态描述",
                    "type": "string"
                }
            }
        },
        "common.Token": {
            "type": "object",
            "properties": {
                "expired_at": {
                    "description": "token过期时间",
                    "type": "string"
                },
                "token": {
                    "description": "token",
                    "type": "string"
                }
            }
        },
        "reply.AccountFriendInfo": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                },
                "relationID": {
                    "description": "好友关系ID，0表示没有好友关系",
                    "type": "integer"
                }
            }
        },
        "reply.AccountInfo": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                }
            }
        },
        "reply.ApplicationInfo": {
            "type": "object",
            "properties": {
                "account1_avatar": {
                    "description": "申请者头像",
                    "type": "string"
                },
                "account1_id": {
                    "description": "申请者账号ID",
                    "type": "integer"
                },
                "account1_name": {
                    "description": "申请者名称",
                    "type": "string"
                },
                "account2_avatar": {
                    "description": "目标账号头像",
                    "type": "string"
                },
                "account2_id": {
                    "description": "目标账号ID",
                    "type": "integer"
                },
                "account2_name": {
                    "description": "目标账号名称",
                    "type": "string"
                },
                "apply_msg": {
                    "description": "申请信息",
                    "type": "string"
                },
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "refuse_msg": {
                    "description": "拒绝信息",
                    "type": "string"
                },
                "status": {
                    "description": "状态 [已申请,已拒绝,已同意]",
                    "type": "string"
                },
                "update_at": {
                    "description": "更新时间",
                    "type": "string"
                }
            }
        },
        "reply.CreateAccount": {
            "type": "object",
            "properties": {
                "account_Token": {
                    "description": "账号Token",
                    "$ref": "#/definitions/common.Token"
                },
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                }
            }
        },
        "reply.ExistEmail": {
            "type": "object",
            "properties": {
                "exist": {
                    "description": "是否已经存在",
                    "type": "boolean"
                }
            }
        },
        "reply.GetAccountByID": {
            "type": "object",
            "properties": {
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "gender": {
                    "description": "性别",
                    "type": "string"
                },
                "id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                },
                "signature": {
                    "description": "个性签名",
                    "type": "string"
                }
            }
        },
        "reply.GetAccountToken": {
            "type": "object",
            "properties": {
                "account_token": {
                    "description": "账号Token",
                    "$ref": "#/definitions/common.Token"
                }
            }
        },
        "reply.GetAccountsByName": {
            "type": "object",
            "properties": {
                "list": {
                    "description": "账号列表",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.AccountFriendInfo"
                    }
                },
                "total": {
                    "description": "总数",
                    "type": "integer"
                }
            }
        },
        "reply.GetAccountsByUserID": {
            "type": "object",
            "properties": {
                "list": {
                    "description": "账号列表",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.AccountInfo"
                    }
                },
                "total": {
                    "description": "总数",
                    "type": "integer"
                }
            }
        },
        "reply.ListApplications": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.ApplicationInfo"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.Login": {
            "type": "object",
            "properties": {
                "user_info": {
                    "description": "用户信息",
                    "$ref": "#/definitions/reply.UserInfo"
                },
                "user_token": {
                    "description": "用户令牌",
                    "$ref": "#/definitions/common.Token"
                }
            }
        },
        "reply.Register": {
            "type": "object",
            "properties": {
                "user_info": {
                    "description": "用户信息",
                    "$ref": "#/definitions/reply.UserInfo"
                },
                "user_token": {
                    "description": "用户令牌",
                    "$ref": "#/definitions/common.Token"
                }
            }
        },
        "reply.UserInfo": {
            "type": "object",
            "properties": {
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "email": {
                    "description": "邮箱",
                    "type": "string"
                },
                "id": {
                    "description": "user id",
                    "type": "integer"
                }
            }
        },
        "request.AcceptApplication": {
            "type": "object",
            "required": [
                "account_id"
            ],
            "properties": {
                "account_id": {
                    "description": "目标账号ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.CreateAccount": {
            "type": "object",
            "required": [
                "avatar",
                "name"
            ],
            "properties": {
                "avatar": {
                    "description": "头像",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                },
                "name": {
                    "description": "名称",
                    "type": "string",
                    "maxLength": 20,
                    "minLength": 1
                }
            }
        },
        "request.CreateApplication": {
            "type": "object",
            "required": [
                "account_id",
                "apply_msg"
            ],
            "properties": {
                "account_id": {
                    "description": "目标账号ID",
                    "type": "integer",
                    "minimum": 1
                },
                "apply_msg": {
                    "description": "申请信息",
                    "type": "string",
                    "maxLength": 200
                }
            }
        },
        "request.DeleteAccount": {
            "type": "object",
            "required": [
                "account_id"
            ],
            "properties": {
                "account_id": {
                    "description": "账号ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.DeleteApplication": {
            "type": "object",
            "required": [
                "account_id"
            ],
            "properties": {
                "account_id": {
                    "description": "目标账号ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.Login": {
            "type": "object",
            "required": [
                "email",
                "password"
            ],
            "properties": {
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                },
                "password": {
                    "description": "密码",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 6
                }
            }
        },
        "request.Register": {
            "type": "object",
            "required": [
                "code",
                "email",
                "password"
            ],
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6
                },
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                },
                "password": {
                    "description": "密码",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 6
                }
            }
        },
        "request.SendEmail": {
            "type": "object",
            "required": [
                "email"
            ],
            "properties": {
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                }
            }
        },
        "request.UpdateAccount": {
            "type": "object",
            "required": [
                "avatar",
                "gender",
                "name",
                "signature"
            ],
            "properties": {
                "avatar": {
                    "description": "头像",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                },
                "gender": {
                    "description": "性别",
                    "type": "string",
                    "enum": [
                        "男",
                        "女",
                        "未知"
                    ]
                },
                "name": {
                    "description": "名称",
                    "type": "string",
                    "maxLength": 20,
                    "minLength": 1
                },
                "signature": {
                    "description": "个性签名",
                    "type": "string",
                    "maxLength": 200,
                    "minLength": 1
                }
            }
        },
        "request.UpdateUserEmail": {
            "type": "object",
            "required": [
                "code",
                "email"
            ],
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6
                },
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                }
            }
        },
        "request.UpdateUserPassword": {
            "type": "object",
            "required": [
                "code",
                "new_password"
            ],
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6
                },
                "new_password": {
                    "description": "新密码",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 6
                }
            }
        }
    },
    "securityDefinitions": {
        "BasicAuth": {
            "type": "basic"
        }
    }
}