{
    "swagger": "2.0",
    "info": {
        "description": "在线聊天系统",
        "title": "chat",
        "contact": {},
        "license": {
            "name": "raja,chong"
        },
        "version": "1.0"
    },
    "host": "chat.humraja.xyz",
    "basePath": "/api",
    "paths": {
        "/api/account/create": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "创建账号",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "创建账号信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.CreateAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2008:身份验证失败 2012:账号数量超过限制 2011:账号名已经存在 2007:身份不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.CreateAccount"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/delete": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "删除账户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "账号ID",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DeleteAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/account/info": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "获取账户信息",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "账号ID",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2009:权限不足 2007:身份不存在 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountByID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/infos/name": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "通过昵称模糊查找账户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string",
                        "description": "搜索名称",
                        "name": "name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountsByName"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/infos/user": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "获取用户的所有账户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1003:系统错误 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountsByUserID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/token": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "获取账号令牌",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "description": "账号ID",
                        "name": "account_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误  1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetAccountToken"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/account/update": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "account"
                ],
                "summary": "更新账户信息",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "账号信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/accept": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "被申请者同意好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "需要同意的申请",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.AcceptApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 3002:申请不存在 3004:重复操作申请",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/create": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "创建好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "申请信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.CreateApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 3001:申请已经存在 3003:申请不合法 4001:关系已经存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/delete": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "申请者删除好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "需要删除的申请",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DeleteApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 2009:权限不足 3002:申请不存在 3003:申请不合法",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/application/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "账户查看和自身相关的好友申请(不论是申请者还是被申请者)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.ListApplications"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/application/refuse": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "被申请者拒绝好友申请",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "需要拒绝的申请",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.AcceptApplication"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 3002:申请不存在 3004:重复操作申请",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/email/exist": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email"
                ],
                "summary": "是否已经注册过该email",
                "parameters": [
                    {
                        "maxLength": 50,
                        "type": "string",
                        "description": "邮箱",
                        "name": "email",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.ExistEmail"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/email/send": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email"
                ],
                "summary": "发送邮件",
                "parameters": [
                    {
                        "description": "email",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.SendEmail"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2006:邮箱已经注册 2003:邮件发送频繁，请稍后再试",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/msg/info/top": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "获取指定关系的置顶消息，如果不存在则为null",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "关系ID",
                        "name": "relationID",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetTopMsgByRelationID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/msg/list/pin": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "获取指定关系的pin消息，按照时间pin时间倒序排序",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "关系ID",
                        "name": "relationID",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetPinMsgsByRelationID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/msg/list/rly": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "获取指定关系的所有回复消息，按照时间回复时间先后排序",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "关系ID",
                        "name": "relationID",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "回复消息ID",
                        "name": "rlyMsgID",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetRlyMsgsInfoByMsgID"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/msg/list/time": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "通过最晚时间戳获取指定关系的信息，获取的消息按照发布时间先后排序",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "拉取消息的最晚时间(精确到秒)",
                        "name": "lastTime",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "关系ID",
                        "name": "relationID",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetMsgsByRelationIDAndTime"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/msg/update/pin": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "设置消息的pin状态",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "设置信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateMsgPin"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在 5001:消息不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/msg/update/revoke": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "撤回消息",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "信息id",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.RevokeMsg"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在 5001:消息不存在 5002:消息已经撤销",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/msg/update/top": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "message"
                ],
                "summary": "设置消息的置顶状态",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "设置信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateMsgTop"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在 5001:消息不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/setting/friend/delete": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "删除好友关系(双向删除)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "关系ID",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.DeleteFriend"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2009:权限不足 2010:账号不存在 4002:关系不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/setting/friend/list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "获取当前账户的好友列表",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetFriends"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/setting/friend/name": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "通过姓名模糊查询好友或群组",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string",
                        "description": "查询名称",
                        "name": "name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "第几页",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "每页大小",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetFriendsByName"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/setting/pins": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "获取当前账户pin的好友和群组列表(TODO: 待完善)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 2009:权限不足 3002:申请不存在 3003:申请不合法",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetPins"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/setting/shows": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "获取当前账户首页显示的好友和群组列表(TODO: 待完善)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 2009:权限不足 3002:申请不存在 3003:申请不合法",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.GetShows"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/setting/update/disturb": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "更改好友或群组免打扰选项",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "关系ID，免打扰状态",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateSettingDisturb"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 4002:关系不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/setting/update/nick_name": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "更新好友备注或群昵称",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "关系ID，备注或群昵称",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateNickName"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 4002:关系不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/setting/update/pin": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "setting"
                ],
                "summary": "更新好友或群组pin选项",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 账户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "关系ID，pin状态",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateSettingPin"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2007:身份不存在 2008:身份验证失败 2010:账号不存在 4002:关系不存在",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/user/delete": {
            "delete": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "删除当前用户",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/user/login": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "用户登陆",
                "parameters": [
                    {
                        "description": "用户登陆信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.Login"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.Login"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/user/register": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "用户注册",
                "parameters": [
                    {
                        "description": "用户注册信息",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.Register"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2004:邮箱验证码校验失败 2006:邮箱已经注册 ",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.State"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/reply.Register"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/api/user/update/email": {
            "put": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "更新用户邮箱",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "新邮箱和验证码",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateUserEmail"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在 2004:邮箱验证码校验失败 2005:邮箱相同 2006:邮箱已经注册 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        },
        "/api/user/update/pwd": {
            "put": {
                "security": [
                    {
                        "BasicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "更新用户密码",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer 用户令牌",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "旧密码和新密码",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.UpdateUserPassword"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "1001:参数有误 1003:系统错误 2001:用户不存在 2004:邮箱验证码校验失败 2007:身份不存在 2008:身份验证失败",
                        "schema": {
                            "$ref": "#/definitions/common.State"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "common.State": {
            "type": "object",
            "properties": {
                "data": {
                    "description": "失败时返回空"
                },
                "status_code": {
                    "description": "状态码，0-成功，其他值-失败",
                    "type": "integer"
                },
                "status_msg": {
                    "description": "返回状态描述",
                    "type": "string"
                }
            }
        },
        "common.Token": {
            "type": "object",
            "properties": {
                "expired_at": {
                    "description": "token过期时间",
                    "type": "string"
                },
                "token": {
                    "description": "token",
                    "type": "string"
                }
            }
        },
        "model.MsgExtend": {
            "type": "object",
            "properties": {
                "remind": {
                    "description": "@的描述信息",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Remind"
                    }
                }
            }
        },
        "model.Remind": {
            "type": "object",
            "required": [
                "account_id",
                "idx"
            ],
            "properties": {
                "account_id": {
                    "description": "被@的账号ID",
                    "type": "integer",
                    "minimum": 1
                },
                "idx": {
                    "description": "第几个@",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "model.Setting": {
            "type": "object",
            "properties": {
                "friend_info": {
                    "description": "好友信息",
                    "$ref": "#/definitions/model.SettingFriendInfo"
                },
                "group_info": {
                    "description": "群组信息",
                    "$ref": "#/definitions/model.SettingGroupInfo"
                },
                "is_not_disturb": {
                    "description": "是否免打扰",
                    "type": "boolean"
                },
                "is_pin": {
                    "description": "是否pin",
                    "type": "boolean"
                },
                "is_show": {
                    "description": "是否显示",
                    "type": "boolean"
                },
                "last_show": {
                    "description": "最后显示时间",
                    "type": "string"
                },
                "nick_name": {
                    "description": "昵称(群组时为在群中昵称，好友时为好友昵称, 空表示未设置)",
                    "type": "string"
                },
                "pin_time": {
                    "description": "pin时间",
                    "type": "string"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                },
                "relation_type": {
                    "description": "关系类型['group','friend']",
                    "type": "string"
                }
            }
        },
        "model.SettingFriend": {
            "type": "object",
            "properties": {
                "friend_info": {
                    "description": "好友信息",
                    "$ref": "#/definitions/model.SettingFriendInfo"
                },
                "is_not_disturb": {
                    "description": "是否免打扰",
                    "type": "boolean"
                },
                "is_pin": {
                    "description": "是否pin",
                    "type": "boolean"
                },
                "is_show": {
                    "description": "是否显示",
                    "type": "boolean"
                },
                "last_show": {
                    "description": "最后显示时间",
                    "type": "string"
                },
                "nick_name": {
                    "description": "昵称(群组时为在群中昵称，好友时为好友昵称, 空表示未设置)",
                    "type": "string"
                },
                "pin_time": {
                    "description": "pin时间",
                    "type": "string"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                },
                "relation_type": {
                    "description": "关系类型['group','friend']",
                    "type": "string"
                }
            }
        },
        "model.SettingFriendInfo": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "好友ID",
                    "type": "integer"
                },
                "avatar": {
                    "description": "好友头像",
                    "type": "string"
                },
                "name": {
                    "description": "好友姓名",
                    "type": "string"
                }
            }
        },
        "model.SettingGroupInfo": {
            "type": "object"
        },
        "model.SettingPin": {
            "type": "object",
            "properties": {
                "friend_info": {
                    "description": "好友信息",
                    "$ref": "#/definitions/model.SettingFriendInfo"
                },
                "group_info": {
                    "description": "群组信息",
                    "$ref": "#/definitions/model.SettingGroupInfo"
                },
                "nick_name": {
                    "description": "昵称(群组时为在群中昵称，好友时为好友昵称, 空表示未设置)",
                    "type": "string"
                },
                "pin_time": {
                    "description": "pin时间",
                    "type": "string"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                },
                "relation_type": {
                    "description": "关系类型['group','friend']",
                    "type": "string"
                }
            }
        },
        "reply.AccountFriendInfo": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                },
                "relationID": {
                    "description": "好友关系ID，0表示没有好友关系",
                    "type": "integer"
                }
            }
        },
        "reply.AccountInfo": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                }
            }
        },
        "reply.ApplicationInfo": {
            "type": "object",
            "properties": {
                "account1_id": {
                    "description": "申请者账号ID",
                    "type": "integer"
                },
                "account2_id": {
                    "description": "目标账号ID",
                    "type": "integer"
                },
                "apply_msg": {
                    "description": "申请信息",
                    "type": "string"
                },
                "avatar": {
                    "description": "对方头像",
                    "type": "string"
                },
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "name": {
                    "description": "对方账号名称",
                    "type": "string"
                },
                "refuse_msg": {
                    "description": "拒绝信息",
                    "type": "string"
                },
                "status": {
                    "description": "状态 [已申请,已拒绝,已同意]",
                    "type": "string"
                },
                "update_at": {
                    "description": "更新时间",
                    "type": "string"
                }
            }
        },
        "reply.CreateAccount": {
            "type": "object",
            "properties": {
                "account_token": {
                    "description": "账号Token",
                    "$ref": "#/definitions/common.Token"
                },
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                }
            }
        },
        "reply.ExistEmail": {
            "type": "object",
            "properties": {
                "exist": {
                    "description": "是否已经存在",
                    "type": "boolean"
                }
            }
        },
        "reply.GetAccountByID": {
            "type": "object",
            "properties": {
                "avatar": {
                    "description": "头像",
                    "type": "string"
                },
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "gender": {
                    "description": "性别",
                    "type": "string"
                },
                "id": {
                    "description": "账号ID",
                    "type": "integer"
                },
                "name": {
                    "description": "名称",
                    "type": "string"
                },
                "relation_id": {
                    "description": "关系ID，如果不存在则为0",
                    "type": "integer"
                },
                "signature": {
                    "description": "个性签名",
                    "type": "string"
                }
            }
        },
        "reply.GetAccountToken": {
            "type": "object",
            "properties": {
                "account_token": {
                    "description": "账号Token",
                    "$ref": "#/definitions/common.Token"
                }
            }
        },
        "reply.GetAccountsByName": {
            "type": "object",
            "properties": {
                "list": {
                    "description": "账号列表",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.AccountFriendInfo"
                    }
                },
                "total": {
                    "description": "总数",
                    "type": "integer"
                }
            }
        },
        "reply.GetAccountsByUserID": {
            "type": "object",
            "properties": {
                "list": {
                    "description": "账号列表",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.AccountInfo"
                    }
                },
                "total": {
                    "description": "总数",
                    "type": "integer"
                }
            }
        },
        "reply.GetFriends": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.SettingFriend"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetFriendsByName": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.SettingFriend"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetMsgsByRelationIDAndTime": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.MsgInfoWithRly"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetPinMsgsByRelationID": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.MsgInfo"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetPins": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.SettingPin"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetRlyMsgsInfoByMsgID": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.MsgInfo"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetShows": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Setting"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.GetTopMsgByRelationID": {
            "type": "object",
            "properties": {
                "msg_info": {
                    "description": "置顶消息详情",
                    "$ref": "#/definitions/reply.MsgInfo"
                }
            }
        },
        "reply.ListApplications": {
            "type": "object",
            "properties": {
                "list": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/reply.ApplicationInfo"
                    }
                },
                "total": {
                    "type": "integer"
                }
            }
        },
        "reply.Login": {
            "type": "object",
            "properties": {
                "user_info": {
                    "description": "用户信息",
                    "$ref": "#/definitions/reply.UserInfo"
                },
                "user_token": {
                    "description": "用户令牌",
                    "$ref": "#/definitions/common.Token"
                }
            }
        },
        "reply.MsgInfo": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "账号ID 发送者ID",
                    "type": "integer"
                },
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "file_id": {
                    "description": "文件ID 当消息类型为file时\u003e0",
                    "type": "integer"
                },
                "id": {
                    "description": "消息ID",
                    "type": "integer"
                },
                "is_pin": {
                    "description": "是否pin",
                    "type": "boolean"
                },
                "is_revoke": {
                    "description": "是否撤回",
                    "type": "boolean"
                },
                "is_top": {
                    "description": "是否置顶",
                    "type": "boolean"
                },
                "msg_content": {
                    "description": "消息内容 文件则为url，文本则为文本内容，由拓展信息进行补充",
                    "type": "string"
                },
                "msg_extend": {
                    "description": "消息扩展信息 可能为null",
                    "$ref": "#/definitions/model.MsgExtend"
                },
                "msg_type": {
                    "description": "消息类型 [text,file]",
                    "type": "string"
                },
                "notify_type": {
                    "description": "通知类型 [system,common]",
                    "type": "string"
                },
                "pin_time": {
                    "description": "pin时间",
                    "type": "string"
                },
                "read_ids": {
                    "description": "已读的账号ID 当请求者不为发送者时为空",
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                },
                "reply_count": {
                    "description": "回复数",
                    "type": "integer"
                }
            }
        },
        "reply.MsgInfoWithRly": {
            "type": "object",
            "properties": {
                "account_id": {
                    "description": "账号ID 发送者ID",
                    "type": "integer"
                },
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "file_id": {
                    "description": "文件ID 当消息类型为file时\u003e0",
                    "type": "integer"
                },
                "id": {
                    "description": "消息ID",
                    "type": "integer"
                },
                "is_pin": {
                    "description": "是否pin",
                    "type": "boolean"
                },
                "is_revoke": {
                    "description": "是否撤回",
                    "type": "boolean"
                },
                "is_top": {
                    "description": "是否置顶",
                    "type": "boolean"
                },
                "msg_content": {
                    "description": "消息内容 文件则为url，文本则为文本内容，由拓展信息进行补充",
                    "type": "string"
                },
                "msg_extend": {
                    "description": "消息扩展信息 可能为null",
                    "$ref": "#/definitions/model.MsgExtend"
                },
                "msg_type": {
                    "description": "消息类型 [text,file]",
                    "type": "string"
                },
                "notify_type": {
                    "description": "通知类型 [system,common]",
                    "type": "string"
                },
                "pin_time": {
                    "description": "pin时间",
                    "type": "string"
                },
                "read_ids": {
                    "description": "已读的账号ID 当请求者不为发送者时为空",
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                },
                "reply_count": {
                    "description": "回复数",
                    "type": "integer"
                },
                "rly_msg": {
                    "description": "回复消息详情 可能为null",
                    "$ref": "#/definitions/reply.RlyMsg"
                }
            }
        },
        "reply.Register": {
            "type": "object",
            "properties": {
                "user_info": {
                    "description": "用户信息",
                    "$ref": "#/definitions/reply.UserInfo"
                },
                "user_token": {
                    "description": "用户令牌",
                    "$ref": "#/definitions/common.Token"
                }
            }
        },
        "reply.RlyMsg": {
            "type": "object",
            "properties": {
                "is_revoke": {
                    "description": "是否撤回",
                    "type": "boolean"
                },
                "msg_content": {
                    "description": "消息内容 文件则为url，文本则为文本内容，由拓展信息进行补充",
                    "type": "string"
                },
                "msg_extend": {
                    "description": "消息扩展信息 可能为null",
                    "$ref": "#/definitions/model.MsgExtend"
                },
                "msg_id": {
                    "description": "回复消息ID",
                    "type": "integer"
                },
                "msg_type": {
                    "description": "消息类型 [text,file]",
                    "type": "string"
                }
            }
        },
        "reply.UserInfo": {
            "type": "object",
            "properties": {
                "create_at": {
                    "description": "创建时间",
                    "type": "string"
                },
                "email": {
                    "description": "邮箱",
                    "type": "string"
                },
                "id": {
                    "description": "user id",
                    "type": "integer"
                }
            }
        },
        "request.AcceptApplication": {
            "type": "object",
            "required": [
                "account_id"
            ],
            "properties": {
                "account_id": {
                    "description": "目标账号ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.CreateAccount": {
            "type": "object",
            "required": [
                "gender",
                "name",
                "signature"
            ],
            "properties": {
                "gender": {
                    "description": "性别",
                    "type": "string",
                    "enum": [
                        "男",
                        "女",
                        "未知"
                    ]
                },
                "name": {
                    "description": "名称",
                    "type": "string",
                    "maxLength": 20,
                    "minLength": 1
                },
                "signature": {
                    "description": "签名",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 0
                }
            }
        },
        "request.CreateApplication": {
            "type": "object",
            "required": [
                "account_id",
                "apply_msg"
            ],
            "properties": {
                "account_id": {
                    "description": "目标账号ID",
                    "type": "integer",
                    "minimum": 1
                },
                "apply_msg": {
                    "description": "申请信息",
                    "type": "string",
                    "maxLength": 200
                }
            }
        },
        "request.DeleteAccount": {
            "type": "object",
            "required": [
                "account_id"
            ],
            "properties": {
                "account_id": {
                    "description": "账号ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.DeleteApplication": {
            "type": "object",
            "required": [
                "account_id"
            ],
            "properties": {
                "account_id": {
                    "description": "目标账号ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.DeleteFriend": {
            "type": "object",
            "required": [
                "relation_id"
            ],
            "properties": {
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.Login": {
            "type": "object",
            "required": [
                "email",
                "password"
            ],
            "properties": {
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                },
                "password": {
                    "description": "密码",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 6
                }
            }
        },
        "request.Register": {
            "type": "object",
            "required": [
                "code",
                "email",
                "password"
            ],
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6
                },
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                },
                "password": {
                    "description": "密码",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 6
                }
            }
        },
        "request.RevokeMsg": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "消息ID",
                    "type": "integer"
                }
            }
        },
        "request.SendEmail": {
            "type": "object",
            "required": [
                "email"
            ],
            "properties": {
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                }
            }
        },
        "request.UpdateAccount": {
            "type": "object",
            "required": [
                "gender",
                "name",
                "signature"
            ],
            "properties": {
                "gender": {
                    "description": "性别",
                    "type": "string",
                    "enum": [
                        "男",
                        "女",
                        "未知"
                    ]
                },
                "name": {
                    "description": "名称",
                    "type": "string",
                    "maxLength": 20,
                    "minLength": 1
                },
                "signature": {
                    "description": "个性签名",
                    "type": "string",
                    "maxLength": 200,
                    "minLength": 1
                }
            }
        },
        "request.UpdateMsgPin": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "消息ID",
                    "type": "integer"
                },
                "is_pin": {
                    "description": "是否pin",
                    "type": "boolean"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                }
            }
        },
        "request.UpdateMsgTop": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "消息ID",
                    "type": "integer"
                },
                "is_top": {
                    "description": "是否置顶",
                    "type": "boolean"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer"
                }
            }
        },
        "request.UpdateNickName": {
            "type": "object",
            "required": [
                "nick_name",
                "relation_id"
            ],
            "properties": {
                "nick_name": {
                    "description": "昵称",
                    "type": "string",
                    "maxLength": 20,
                    "minLength": 1
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.UpdateSettingDisturb": {
            "type": "object",
            "required": [
                "is_not_disturb",
                "relation_id"
            ],
            "properties": {
                "is_not_disturb": {
                    "description": "是否免打扰",
                    "type": "boolean"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.UpdateSettingPin": {
            "type": "object",
            "required": [
                "is_pin",
                "relation_id"
            ],
            "properties": {
                "is_pin": {
                    "description": "是否pin",
                    "type": "boolean"
                },
                "relation_id": {
                    "description": "关系ID",
                    "type": "integer",
                    "minimum": 1
                }
            }
        },
        "request.UpdateUserEmail": {
            "type": "object",
            "required": [
                "code",
                "email"
            ],
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6
                },
                "email": {
                    "description": "邮箱",
                    "type": "string",
                    "maxLength": 50
                }
            }
        },
        "request.UpdateUserPassword": {
            "type": "object",
            "required": [
                "code",
                "new_password"
            ],
            "properties": {
                "code": {
                    "description": "验证码",
                    "type": "string",
                    "maxLength": 6,
                    "minLength": 6
                },
                "new_password": {
                    "description": "新密码",
                    "type": "string",
                    "maxLength": 50,
                    "minLength": 6
                }
            }
        }
    },
    "securityDefinitions": {
        "BasicAuth": {
            "type": "basic"
        }
    }
}